
*{
    box-sizing: border-box;
  
}
.footer_container {
    background-color: #333;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex: wrap;
    bottom: 0;
    left: 0;
   
  }
.footer_1,.footer_1,.footer_1{
    flex: 50%;
    height: 30vh;

}
.footer_2{
flex: 25%;
}
.footer_3{
    flex: 25%;
}
#heading1{
    margin-top: 7%;
    margin-left: 8%;
    width: 67%;
    font-size: 39px;
    height: 11%; 
}
#team{
    margin-top: 4%;
    margin-left: 8%;
    width: 65%;
    color: white;
}
#heading2{
    margin-top: 15%;
    margin-left: 10%;
    margin-bottom: 4%;
}
#support_a{
    color: white;
    margin-left: 11%;
}

  
  @media(max-width:911px){
    .footer_container{
        flex-direction:column;
    }
  }