* {
    box-sizing: border-box;
  }
  
  /* main.css */
.idex_container {
    position: relative;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Aligns items to the start of the flex container */
    height: 50vh;
    color: #f0f0f0;
    text-align: left; /* Aligns text to the left */
    width: 100%;
    height: 63vh;
    overflow: hidden;
    background-image: url('../images/bg2.jpg'); /* Assuming the image is placed in the public/images directory */
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the background image */
    padding-left: 2rem; /* Adds some space from the left edge */
  }
  
  .highlight {
    color: red; /* Or any color you prefer for highlighting */
    font-weight: bold;
  }
  
.text_wrapper p {
    margin: 0;
    color: white;
    font-size: 3rem;
    margin-left: 50%;
    width: 100%;
  }
  .idex_img {
    width: 100%;
    height: auto; /* Make the image take the full height of the container */
    object-fit: cover;
  }
  
  @media (max-width: 911px) {
    .idex_img {
      height: auto; /* Allow the image height to adjust automatically on smaller screens */
    }
    .text_wrapper p {
        font-size: 2rem;
    }
  }
  /* main.css */

  
  
  